/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.login-box {
  background-color: #ffffff;
  padding: 40px 45px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: left;
}

h2 {
  font-size: 26px;
  color: #131212;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.login-form {
  width: 100%;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  color: #333;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f7f7f7;
  transition: border-color 0.3s ease-in-out;
}

.input-group input:focus {
  border-color: #f8a1c2;
  outline: none;
}

.login-button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  background-color: #f8a1c2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #e56e8c;
}

.login-button:active {
  background-color: #d23f64;
}
