.usuarios-wrapper {
  padding: 24px;
  background-color: #fff5e1; /* color de fondo general (amarillo muy claro) */
}

.usuarios-title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.usuarios-container {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 24px;
  max-width: 80%;
  margin: 0 auto; 
}

.usuarios-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  flex-wrap: wrap;
}
